<!DOCTYPE html>
<html>
<head>
    <title>Code Lab 4</title>
</head>
<body></body>
<p><strong>Meal Recommendation Engine</strong></p>
<p><strong>MSIS 2628 - Applied Cloud Computing</strong></p>
<p><strong>Submitted By: Amey Darwhekar</strong></p>
<p>&nbsp;</p>
<p><strong>I would like to recommend you: {{mealname}}. It is for {{mealprice}}.&nbsp;</strong></p>
<!-- <p><strong>I would like to recommend you: {{food}}&nbsp;</strong></p> -->
<p>&nbsp;</p>
<p><strong>I hope you like the food.</strong></p>
<p>&nbsp;</p>
<p><strong>Thanks!</strong></p>
</body>
</html>